$transitionDuration: 1s;

.settings {
  display: flex;
  position: fixed;
  top: 20px;
  right: -180px;
  width: 250px;
  transition: right $transitionDuration ease;
  &.opened {
    right: 20px;
  }
}

.settings-zone {
  padding: 10px;
  input {
    margin: 10px 0;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
}

.submit-button {
  background-color: #531aff;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  border: none;
}

.toggle-button {
  color: #935fff;
  background-color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #bbb;
  font-size: 2em;
  font-weight: bold;
  transform: rotate(0);
  transition: transform ease $transitionDuration;
  &.opened {
    transform: rotate(-225deg);
  }
}
